PATCH is not idempotent.

It was my understanding that patch was idempotent, however a colleague just noted that the [RFC](http://tools.ietf.org/html/rfc5789#section-2) states...

> PATCH is neither safe nor idempotent as defined by [RFC2616], Section 9.1.

`methods.tex` does not reflect this.

I really like these pdfs as a cheat sheet, would love it if you could update them.

Good call.

I'll make the change to the .tex file cause that's easy, but my build pipeline's unhappy right now and I'm not sure why. I'll just make another issue about that I guess.


> You’re editing a file in a project you don’t have write access to.

Ope, sorry.


I know this is an old ticket, but this tripped me up recently. Is this project still being maintained?

Not by me. I don't have commit access to this repo anymore. Sorry.